%p#notice= notice
%h1 Listing Websites
%table.table
  %thead
    %tr
      %th Name
      %th Options
      
  %tbody
    - websites.each do |website|
      %tr
        %td= website.domain
        %td= link_to 'Show more info', website
        %td= link_to 'Edit', edit_website_path(website)
        %td= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Bookmark', new_bookmark_path