= form_for(bookmark) do |f|
  - if bookmark.errors.any?
    #error_explanation
      %h2
        = pluralize(bookmark.errors.count, "error")
        prohibited this bookmark from being saved:
      %ul
        - bookmark.errors.full_messages.each do |message|
          %li= message
  .actions
    %div.form-group
      = f.label 'Url:'
      = f.text_field :url, class: "form-control", required: true
      = f.label 'Tags (comma separated):'
      = f.text_area :all_tags, class: "form-control", placeholder: 'comma separated', rows: "3", required: true
      = f.submit