%p#notice= notice
%h1 My Bookmarks
%table.table
  %thead
    %tr
      %th Bookmark title
      %th Short url
      %th Tags
      %th Website
      %th{:colspan => "3"} Options

  %tbody
    - bookmarks.each do |bookmark|
      %tr
        %td= bookmark.title
        %td= link_to "#{bookmark.short_url}", bookmark.short_url
        %td= bookmark.all_tags
        %td= bookmark.website.domain
        %td= link_to 'Show', bookmark, class: 'btn btn-primary btn-sm'
        %td= link_to 'Edit', edit_bookmark_path(bookmark), class: 'btn btn-warning btn-sm'
        %td= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
%br/
= link_to 'Add New Bookmark', new_bookmark_path, class: 'btn btn-info'
